!!!
%html
%body
  #header

  #container
    #side-content
      .user-info
        .User-info__name 
          %span 
            = current_user.name
        = link_to edit_user_registration_path do
          %i.fa.fa-cog
        = link_to new_group_path do
          %i.fa.fa-pencil-square-o
      %ul.groups
        - @groups.each do |group|
          = link_to group_messages_path(group.id) do
            %li.group
              .group__name 
                = group.name
              .group__last__massage まだメッセージはありません

    #main-content
      .selected-group
        .selected-group__name 
          = @group.name
        .selected-group__members 
          Members : 
          - @users.each do |user|
            = user.name

        .selected-group__edit-box 
          = link_to edit_group_path(@group) do
            .selected-group__edit-box__text Edit
      .message-area 
        %ul.messages
          - @messages.each do |message|
            %li.message
              .message-info
                .message-info__owner 
                  = message.user.name
                .message-info__updated-time 
                  = message.created_at
              .message-content
                = message.text
      .message-input
        = form_for [@group,@message] do |f|
          .message-input_area 
            = f.text_area :text, placeholder:"type a message"
            %i.fa.fa-picture-o.fa-lg{"aria-hidden" => "true"}
          / %i.fa.fa-image
          = f.submit "Send", class: "send-box"
  %footer


/           .send-box
/             = f.submit "send", name: "commit", type: "submit", class: "message-send-button"
/ z

