j !!!
%html
%body
  #header

  #container
    #side-content
      .user-info
        .User-info__name 
          %span 
            = current_user.name
        = link_to edit_user_registration_path do
          %i.fa.fa-cog
        = link_to new_group_path do
          %i.fa.fa-pencil-square-o
      %ul.groups
        - @groups.each do |group|
          = link_to group_messages_path(group.id) do
            %li.group
              .group__name 
                = group.name
              .group__last__massage まだメッセージはありません


